<div class="content">
  <mat-toolbar color="primary">
    <h1 i18n="name of the app">Expense Manager</h1>
    <a mat-button href="accounts" routerLinkActive="active"
       i18n="Navigation button to home page, where accounts are listed">
      Home
    </a>
    <a mat-button href="categories" routerLinkActive="active"
       i18n="Navigation button to categories page, where categories are listed">
      Categories
    </a>
    <a mat-button href="dashboard" routerLinkActive="active"
       i18n="Navigation button to the dashboard page">
      Dashboard
    </a>
    <a mat-button href="settings" routerLinkActive="active"
       i18n="Navigation button to the settings and personalization page">
      Settings
    </a>
    <a mat-button href="about" routerLinkActive="active"
       i18n="Navigation button to the About page">
      About
    </a>
    <span style="flex: 1 1 auto"></span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
