<div class="content"
  gdAreas="header | content"
  gdRows="auto 1fr"
  gdColumns="1fr">
  <mat-toolbar color="primary" gdArea="header">
    <div fxShow.lt-md fxHide>
      <mat-menu #appMenu="matMenu">
        <a mat-menu-item href="accounts/0" routerLinkActive="active"
           i18n="Navigation button to home page, where accounts are listed">
          Home
        </a>
        <a mat-menu-item href="categories/0" routerLinkActive="active"
           i18n="Navigation button to categories page, where categories are listed">
          Categories
        </a>
        <a mat-menu-item href="dashboard" routerLinkActive="active"
           i18n="Navigation button to the dashboard page">
          Dashboard
        </a>
        <a mat-menu-item href="settings" routerLinkActive="active"
           i18n="Navigation button to the settings and personalization page">
          Settings
        </a>
        <a mat-menu-item href="about" routerLinkActive="active"
           i18n="Navigation button to the About page">
          About
        </a>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <h1 i18n="Name of the app">Expense Manager</h1>
    <div fxHide.lt-md fxShow>
      <a mat-button href="accounts/0" routerLinkActive="active"
         i18n="Navigation button to home page, where accounts are listed">
        Home
      </a>
      <a mat-button href="categories/0" routerLinkActive="active"
         i18n="Navigation button to categories page, where categories are listed">
        Categories
      </a>
      <a mat-button href="dashboard" routerLinkActive="active"
         i18n="Navigation button to the dashboard page">
        Dashboard
      </a>
      <a mat-button href="settings" routerLinkActive="active"
         i18n="Navigation button to the settings and personalization page">
        Settings
      </a>
      <a mat-button href="about" routerLinkActive="active"
         i18n="Navigation button to the About page">
        About
      </a>
    </div>
    <span style="flex: 1 1 auto"></span>
  </mat-toolbar>

  <div gdArea="content">
    <router-outlet></router-outlet>
  </div>
</div>
