<div class=container
  gdAreas="summary chart | subaccounts subaccounts | expenses expenses"
  gdAreas.lt-md="summary | chart | subaccounts | expenses"
  gdGap="16px"
  gdGap.lt-md="8px"
  gdRows="1fr 1fr 1fr"
  gdRows.lt-md="1fr 1fr 1fr 1fr">

  <div gdArea="summary">
    <p>Summary</p>
  </div>

  <div gdArea="chart">
    <p>Chart</p>
  </div>

  <div gdArea="subaccounts">
    <p>Subaccount List</p>
  </div>

  <div gdArea="expenses">
    <app-expense-list [expenses]="(account$ | async).expenses" noAccount></app-expense-list>
  </div>

</div>
